* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62, 5%;
  font-family: "Roboto", sans-serif;
}

$main-bg: #fff3c7; // Lemon Chiffon
$accent-color: #ffe57b; //Jasmin
$font-color: #912f00; //Brown
$hover-color: #ffdc50; //Mustard
$hover-hover-color: #e0ab3a; //Hunyadi Yellow
$hover-font-color: #912f00; //Brown
$shadow-effekt: #e0ab3a;
$logo-font: "Cinzel Decorative", cursive;
$main-font: "Roboto", sans-serif;

body {
  background: $main-bg;
}

// Header
.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 6.5rem;
  background-color: $accent-color;
  box-shadow: 0rem 0.3rem #ffdc50;
}

// Logo
.logo {
  display: flex;
  text-decoration: none;
  text-align: center;
  margin: 0.5rem 0.5rem;
  a {
    text-decoration: none;
    color: $font-color;
  }
  h1 {
    color: $font-color;
    font-size: 2.5rem;
    font-family: $logo-font;
  }
  h4 {
    font-size: 0.9rem;
    color: $font-color;
  }
}

// Navbar
nav ul {
  display: flex;
  justify-content: center;
  li {
    list-style: none;
    position: relative;

    a {
      color: $font-color;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.3rem;
      padding: 2.5rem;
      display: block;
      border-radius: 0.5rem 0.5rem 0 0;
    }
    a:hover {
      background-color: $hover-color;
      color: $hover-font-color;
    }
    ul {
      display: none;
      position: absolute;
      background-color: $hover-color;
      padding: 0.4rem;
      border-radius: 0 0 0.5rem 0.5rem;
    }
  }
}

nav ul li:hover ul {
  display: block;
  color: $hover-font-color;
}

nav ul li ul li a {
  color: $hover-font-color;
  padding: 1.3rem;
  border-radius: 0.5rem;
}

nav ul li ul li a:hover {
  background-color: $hover-hover-color;
  color: $hover-font-color;
}

// .icon {
//   width: 5rem;
// }

p {
  padding: 5vw 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flashcard {
  padding: 0 20vh;
  fieldset {
    padding: 1rem;
    border: 0.2rem solid $hover-font-color;
    border-radius: 1rem;
    background-color: $accent-color;
  }
  legend {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.9rem;
  }
  label {
    padding: 1.5rem;
    display: block;
    gap: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .logo {
    h1 {
      color: red;
      font-size: 1.3rem;
      font-family: $logo-font;
    }
    h4 {
      font-size: 0.9rem;
      color: $font-color;
    }
  }
}
